.container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 20px; /* Espacio entre los elementos */
    min-height: 100vh; /* Makes the container full height */
  }
  
/* styles.css */
.section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px;
    flex: 1 1 calc(33.33% - 40px);
    box-sizing: border-box;
    min-width: 200px;
    max-width: 400px;
    text-align: center;
    overflow: hidden; /* Oculta cualquier desbordamiento */
  }
  
  .section.full-width {
    flex: 1 1 100%;
    max-width: 100%;
    overflow-x: auto; /* Permite el desplazamiento horizontal si el contenido es demasiado ancho */
  }
  
  .section.full-width table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed; /* Fija el ancho de las columnas */
    overflow-wrap: break-word; /* Rompe palabras largas */
  }
  
  
  .section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #a83993;
  }
  
  .section p {
    font-size: 1em;
    color: #565656;
  }
  