.app-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: px;
}

.card {
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  width: 350px; /* Ajuste de ancho */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #7130cb;
}

.card-button {
  background-color: #7e4eab;
  border-color: #7e4eab;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px 0px 20px 0px;
}

.card-button:hover {
  background-color: #4e3670;
}

.uwu {
  width: 150px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.image-container {
  text-align: center;
  width: 100%;
}
